<!-- Header -->
<header id="intro-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <div class="wrapper">
                        <h2>Lavanderia Passe Bem</h2>
                    </div>
                    <hr class="star-primary">
                    <!--<h2>O maior evento sobre metodologias ágeis e tecnologia da Bahia</h2>-->
                    <!--<h3>8 e 9 de Junho <span>•</span> 8h <span>•</span> Instituto de Matemática e Estatística da UFBA</h3>-->
                </div>
            </div>
        </div>
        <!--{% include enroll.html %}-->
    </div>
</header>